{% extends "header.html"%}
{% block content%}
    Home Page
{% endblock%}
{% block nav%}
    <li><a href="/user/{{ids}}">{{name}}</a></li>
	<li class="active"><a href="/friend_request">Friend Request</a></li>
	<li><a href="/logout">Log Out</a></li>
{% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes style="color: green; ">
        {% for message in messages %}
    <div id="pop" style="background-color:darkgray; text-align: center;">
        <span>{{ message }}</span>
        <button onclick="myfun()" style="float: right; margin-right: 10px;">x</button>
    </div>
        {% endfor %}
    </div>
    {%endif%}
{%endwith%}

<div class="container">
    <div>
        <h3 style="color: coral;">Hello {{name}}</h3>
    </div>
    <h2 style="font-weight: bold; font-family: sans-serif; float: center;">Friend Request</h2>
    {% if a==1 :%}
        <h3 style="color:blue;">You do not have any Friend Request</h3>
    
    {%elif a==2: %}
    <table style="text-align: center;font-size: 20px; font-family: cursive;" class="table">
        <tr>
            <th>S No</th>
            <th>User Id</th>
            <th>Response</th>
        </tr>
        {% for i in range (req_get.__len__()) %}
            <tr>
                <form method="POST" action="{{url_for('respond')}}">
                    <td>{{i+1}}</td>
                    <td><img src="/static/Images/{{req_get[i]}}.jpg" alt="no image found" class="img-circle" style="height:50px; width:{{items[i].wt}}px;">
                        {{req_get[i]}}</td>
                    <input type="hidden" name="req_id" value="{{req_get[i]}}">
                    <td><button type="submit" name="response">Confirm request</button></td>
                </form>
            </tr>
        {% endfor %}
    </table>
    {%endif%}
    <hr style="font-weight: bold; font-size: 10px;">
    <h2 style="font-weight: bold; font-family: sans-serif; float: center;">Find Friend</h2>
    <table style="text-align: center;font-size: 20px; font-family: cursive;" class="table">
        <tr>
            <th>S No</th>
            <th>User Id</th>
            <th>Add</th>
        </tr>
        {% for i in range (items.__len__()) %}
            <tr>
                <form method="POST" action="{{url_for('frd_request')}}">
                    <td>{{i+1}}</td>
                    <td><img src="/static/Images/{{items[i].id}}.jpg" alt="no image found" class="img-circle" style="height:50px; width:{{items[i].wt}}px;">
                        {{items[i].id}}</td>
                    <input type="hidden" name="add_id" value="{{items[i].id}}">
                    <td><button type="submit" name="frd_request">Send Request</button></td>
                </form>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}