{% extends "header.html"%}
{% block content%}
    Home Page
{% endblock%}
{% block nav%}
    <li class="active"><a href="/user/{{ids}}">{{name}}</a></li>
	<li><a href="/friend_request">Friend Request</a></li>
	<li><a href="/logout">Log Out</a></li>
{% endblock %}
{% block body %}
    <div class="container">
        <h3 style="color: coral;">Hello {{name}}</h3>
    </div>
    <div class="container" style=" text-align: center;">
        <img src="/static/Images/{{image}}.jpg" alt="no image found" class="img-circle" style="height:256px; width:{{ht}}px;">
        <h2 style="font-family: initial; font-style: italic; color: maroon;">{{name}}</h2>
    </div>
    <div class="container">
        <h2 style="font-weight: bold; font-family: sans-serif; float: center;">Friends</h2>
        <table style="text-align: center;font-size: 20px; font-family: cursive;" class="table">
            <tr>
                <th>S No</th>
                <th>User Id</th>
                <th>Chat</th>
            </tr>
            {% for i in range (items.__len__()) %}
                <tr>
                    <form method="POST" action="{{url_for('send_mssg')}}">
                        <td>{{i+1}}</td>
                        <td><img src="/static/Images/{{items[i].id}}.jpg" alt="no image found" class="img-circle" style="height:50px; width:{{items[i].wt}}px;">
                            {{items[i].id}}</td>
                        <input type="hidden" name="id_frd" value="{{items[i].id}}">
                        <td><button type="submit" name="response">Chat</button></td>
                        </form>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}